#body{
    margin-left: 100px;
    margin-right: 100px;
}

.header-border {
    padding: 60px;
  text-align: center;
  background: #4933a3;
  color: white;
  font-size: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.mylogohomepg{
    height: 200px;
    margin: 0 auto;
}


.purplesunrise{
    height: 880px;
    width: 1880px;
    margin: 0 auto;
    padding: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;  
}

.paragraph-container{
    position: relative;
    width: 80%;
    margin: 0 auto;

}
.paragraph-home{
    position: relative;
    padding: 0 15%;
   
}


/* THIS IS IMPORTED FROM W3SCHOOLS! */
/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }

 /* ^^ THIS IS IMPORTED FROM W3SCHOOLS!^^  */

.coloredrocks{
    height: 680px;
    width: 1680px;
    margin: 0 auto;
    padding: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center; 
}


footer{
    background-color: whitesmoke;
    color: purple;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a{
    color:purple;
    text-decoration: none;
}
footer a:hover{
    color:lightpink;
}

footer p{
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}

footer .social img{
    padding-top: 15px;
    width: 40px;
}       


/* A little about me... */
/* header */

.header-border {
    padding: 60px;
  text-align: center;
  background: #4933a3;
  color: white;
  font-size: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.mylogoaboutpg{
    height: 200px;
    margin: 0 auto;
}

/* Contact Me @ */
/* header */

.header-border {
    padding: 60px;
  text-align: center;
  background: #4933a3;
  color: white;
  font-size: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.mylogocontactpg{
    height: 200px;
    margin: 0 auto;
}

/* body */
.aboutmebodypg{
    display: grid;
    grid-template-columns: repeat(4 1fr);
}
.alittleab{
    font-size: 500%;
    padding-left: 39%;
    padding-right: 30%;
}
.mainbody{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.palmtrees{
    padding-left: 0;
    padding-right: 85%;
}

.techexper{
    padding: 8% 25%;
    text-align: center;
    font-size: 170%
}

.towers{
    padding-left: 0;
    padding-right: 25%;
}

.experience{
    padding: 15% 25%;
    text-align: center;
    font-size: 180%;
}