#body{
    margin-left: 100px;
    margin-right: 100px;
}

.header-border {
    padding: 60px;
  text-align: center;
  background: #4933a3;
  color: white;
  font-size: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.mylogohomepg{
    height: 200px;
    margin: 0 auto;
}


.purplesunrise{
    height: 880px;
    width: 1880px;
    margin: 0 auto;
    padding: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;  
}

.homesite{
    height: auto;
    margin: 0 auto;
    margin-left: 600px;
    margin-right: 600px;
    padding-left: 1000px;
    padding-right: 1000px;

}
{
    margin-left: 800px;
    margin-right: 800px;
}

.coloredrocks{
    height: 880px;
    width: 1880px;
    margin: 0 auto;
    padding: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;  
}


footer{
    background-color: whitesmoke;
    color: purple;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a{
    color:purple;
    text-decoration: none;
}
footer a:hover{
    color:lightpink;
}

footer p{
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}

footer .social img{
    padding-top: 15px;
    width: 40px;
}       


/* A little about me... */
/* header */

.header-border {
    padding: 60px;
  text-align: center;
  background: #4933a3;
  color: white;
  font-size: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.mylogoaboutpg{
    height: 200px;
    margin: 0 auto;
}

/* Contact Me @ */
/* header */

.header-border {
    padding: 60px;
  text-align: center;
  background: #4933a3;
  color: white;
  font-size: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.mylogocontactpg{
    height: 200px;
    margin: 0 auto;
}

/* body */
.aboutmebodypg{
    display: grid;
    grid-template-columns: repeat(4 1fr);
}